outputs/
smolvla_output/
smolvla_output_fit/
smolvla_output_finger_action/
smolvla_output_obs/
smolvla_output_success_half/
datasets_random/
datasets/
# datasets / generated data
*.hdf5
*.h5
datasets/**/*.hdf5
datasets/**/*.h5
outputs*/
smolvla_output*/

# local datasets / generated data
*.hdf5
*.h5
datasets/
datasets_random/
outputs*/
smolvla_output*/

datasets/
datasets_random/
*.hdf5
*.h5
outputs*/
smolvla_output*/
smolvla_output_*/
wandb/
logs/
*.pt
*.pth
*.ckpt
*.safetensors
*.onnx
